# PRODUCTION: Set APP_DEBUG=false, APP_ENV=production, APP_KEY=<random key>
APP_NAME=Doclang Boba
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

WA_SENDER_NUMBER=081911883609
WA_GATEWAY_URL=http://127.0.0.1:3001/api/send-message
WA_GATEWAY_STATUS_URL=http://127.0.0.1:3001/api/admin/status
WA_GATEWAY_QR_URL=http://127.0.0.1:3001/api/admin/qr
WA_GATEWAY_PAIRING_CODE_URL=http://127.0.0.1:3001/api/admin/pairing-code
WA_GATEWAY_RECONNECT_URL=http://127.0.0.1:3001/api/admin/reconnect
WA_GATEWAY_TOKEN=generate_dengan_php_-r_"echo_bin2hex(random_bytes(32));"
FONNTE_ENDPOINT=https://api.fonnte.com/send
FONNTE_TOKEN=
